* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PPNeueMontral'
}

html {
    background-color: rgb(215, 216, 220);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
 }

@font-face {
    font-family: 'PPNeueMontral';
    src: url(/webfonts/PPNeueMontreal-Thin.otf);
}

.container {
    background-color: rgb(215, 216, 220);
}

.nav-container {
    width: 100%;
    font-size: 2rem;
    height: 6rem;
    position: fixed;
    align-items:center;
    text-align: center;
    left: 0;
    padding-top: 20px;
    top: 0;
    /* border: 5px solid black; */
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    transition: all 0.3s ease 0s;
    margin-top: 1.5%;;
}

.nav-links li {
    padding: 0px 20px 0px 20px;
    letter-spacing: 1px;
}


#name {
    margin-top: 975px;
    margin-right: auto;
    margin-left: 5%;
}

#name:hover {
    cursor: pointer;
}

#about {
    font-size: 1.25rem;
    padding-top: 10px;
    /* padding: 0% 0% 0% 10%; */
}

#about:hover {
    cursor: pointer;
    background:linear-gradient(to right, black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 20px center;
    animation: underline 2s ease-in-out .2s;
    animation-fill-mode: forwards;
}

#projects {
    font-size: 1.25rem;
    padding-top: 10px;
}

#dropMenu {
    list-style-type: none;
    font-size: 1rem;
    padding-top: 2px;
    display: flex;
    justify-content: space-around;

    /* background-color: black; */
    
    
}

#projects:hover {
    cursor: pointer;
    /* background:linear-gradient(to right, black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 24px center;
    animation: underline 2s ease-in-out .05s;
    animation-fill-mode: forwards; */
}

#contact {
    font-size: 1.25rem;
    padding-top: 10px;
    margin-right: 5%;
}

#contact:hover {
    cursor: pointer;
    background:linear-gradient(to right, black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 24px center;
    animation: underline 2s ease-in-out .2s;
    animation-fill-mode: forwards;
}

@keyframes underline {
    to {
      background-size: 60% 2px;
    }
}

#frame {
    height: 100%;
    /* position: fixed; */
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 6rem;
    width: 100%;
    /* position: fixed; */
    top: 0;
}

#frame2 {
    position:fixed;
    overflow: auto;
    border: 3.5px solid black;
    margin-top: 20px;
    height: 80%;
    margin-left: 4%;
    margin-right: 4%;
}

/* #borders {
    position: fixed;
    height: 100%;
    left: 4%;
    bottom: 40px;
    padding-top: 6.25rem;
    right: 50px;
    mix-blend-mode: difference;
    pointer-events: none;
} */

/*  */


/* .scroll-container, .scroll-area {
    width: 100%;
    font-size: 60px; */
    /* margin-top: 6rem; */
    /* position: relative; */
/* } */

/* .scroll-container { */
    /* overflow: auto; */
    /* scroll-snap-type: y mandatory; */


/* .scroll-area { */
    /* scroll-snap-align: start; */
/* } */

#one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-size: 60px;
    /* margin-top: 6rem; */
}

#one h1{
    margin-top: 15%;
    margin-left: 5%;
    height: 20%;
}

#one p{

    font-size: 1.5rem;
    margin-left: 5%;
    width: 50%;
}

#bigBend {
    margin-top: 10%;
    display: block;
    object-fit: cover;
    border-radius: 100px;
    width: 40%;
    height: 50%;
}

#two {
    width: 100%;
    font-size: 60px;
    background-color: aqua;
}

#three {
    width: 100%;
    font-size: 60px;
}

#four {
    width: 100%;
    font-size: 60px;
}

#five {
    width: 100%;
    font-size: 60px;
    }





