* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PPNeueMontral';
}

html {
    background-color: rgb(215, 216, 220);
}

@font-face {
    font-family: 'PPNeueMontral';
    src: url(/webfonts/PPNeueMontreal-Book.otf);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
 }

.container {
    background-color: rgb(215, 216, 220);
}

/* HEADER */

.nav-container {
    width: 100%;
    font-size: 2rem;
    height: 6rem;
    position: fixed;
    align-items:center;
    text-align: center;
    left: 0;
    padding-top: 20px;
    top: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    transition: all 0.3s ease 0s;
    margin-top: 1.5%;;
}

.nav-links li {
    padding: 0px 20px 0px 20px;
    letter-spacing: 1px;
}

#diamond {
    position: absolute;
    top: 4.5vh;
    width: 1%;
    left: 4vw;
    height: auto;
}

#about {
    font-size: 1.25rem;
    padding-top: 10px;
    opacity: 0;
    /* padding: 0% 0% 0% 10%; */
}

#about:hover {
    cursor: pointer;
    background:linear-gradient(to right, black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 19px center;
    animation: underline 2s ease-in-out .2s;
    animation-fill-mode: forwards;
}

#projects {
    font-size: 1.25rem;
    padding-top: 10px;
    opacity: 0;
}

#dropMenu {
    list-style-type: none;
    font-size: 1.5rem;
    padding-top: 2px;
    display: flex;
    justify-content: space-around;
}

#projects:hover {
    cursor: pointer;
    background:linear-gradient(to right, black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 20px center;
    animation: underline2 2s ease-in-out .05s;
    animation-fill-mode: forwards;
}

#contact {
    font-size: 1.25rem;
    padding-top: 10px;
    margin-right: 5%;
    opacity: 0;
}

#contact:hover {
    cursor: pointer;
    background:linear-gradient(to right, black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 21px center;
    animation: underline3 2s ease-in-out .2s;
    animation-fill-mode: forwards;
}

@keyframes underline {
    to {
      background-size: 58% 2px;
    }
}

@keyframes underline2 {
    to {
      background-size: 64% 2px;
    }
}

@keyframes underline3 {
    to {
      background-size: 64% 2px;
    }
}

/* Content */

#frame {
    height: 100%;
    /* position: fixed; */
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 6rem;
    width: 100%;
    /* position: fixed; */
    top: 0;
}

#frame2 {
    position:fixed;
    overflow: auto;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    height: 80%;
    margin-left: 4%;
    margin-right: 4%;
    scroll-snap-type: y mandatory;
}

#one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    /* font-size: 60px; */
    /* margin-top: 6rem; */
}

#one h1{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    -webkit-text-stroke-width: .05px;
    margin-left: 60vw;
    margin-right: 5vw;
    margin-top: 2vh;
    text-align: left;
    font-size: 14rem;
    width: 100%;
    height: 20%;
}

#one p{
    position: absolute;
    margin-top: 21vh;
    font-size: 2.5rem;
    margin-left: 17vw;
    /* margin-right: %; */
    text-align: left;
    width: 20%;
}

#name {
    position: absolute;
    display: flex;
    text-align: right;
    left: 7.5vw;
    font-size: 3rem;
    opacity: 0;
}

#name:hover {
    cursor: pointer;
}

#title{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 276.02px;
    left: 9.5vw;
    top: 32vh;
    font-size: 1.5rem;
    opacity: 0;
    word-spacing: 0rem;
    letter-spacing: .1rem;
}

#shooting-star {
    position: absolute;
    top: -34vh;
    left: 63vw;
    width: 5%;
}

#shooting-star2 {
    position: absolute;
    width: 3%;
    left: 57vw;
    top: -9vh
}

#shooting-star3 {
    position: absolute;
    width: 2.5%;
    top: 19vh;
    left: 58.5vw;
}

#a1:hover {
    cursor: pointer;
}

#b1:hover {
    cursor: pointer;
}

#c1:hover {
    cursor: pointer;
}

#two {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 60px;
}

h3 {
    position: absolute;
    font-size: 25px;
    top: 29vh;
    margin-left: 16vw;
    letter-spacing: .2rem;
    opacity: 0;
}

#iAmA{
    position: absolute;
    display: flex;
    left: 16vw;
    top: 38vh;
    font-size: 1.5rem;
    opacity: 0;
    height: 20%;
    word-spacing: 0rem;
    letter-spacing: .1rem;
}

#austin{
    position: absolute;
    display: flex;
    left: 26.4vw;
    top: 38vh;
    margin-right: 50vw;
    font-size: 1.5rem;
    opacity: 0;
    height: 20%;
    word-spacing: 0rem;
    letter-spacing: .1rem;
}

#bio{
    position: absolute;
    display: flex;
    left: 16vw;
    top: 40vh;
    text-align: left;
    margin-right: 57vw;
    font-size: 1.5rem;
    opacity: 0;
    height: 20%;
    word-spacing: 0rem;
    letter-spacing: .1rem;
}

#resume{
    position: fixed;
    opacity: 0;
    top: 57vh;
    left: 28vw;
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    background-color: rgb(215, 216, 220);
    font-size: 2rem;
}

#resume:hover {
    cursor: pointer;
    background-color: rgb(221, 227, 255);
}

#bigBend {
    margin-top: 10%;
    margin-left: 50%;
    object-fit: cover;
    border-radius: 100px;
    width: 40%;
    min-width: 350px;
    height: 50%;
}


#three {
    width: 100%;
    font-size: 60px;
}

#four {
    width: 100%;
    font-size: 60px;
}

#five {
    width: 100%;
    font-size: 60px;
    }

#linkedIn {
    position: absolute;
    mix-blend-mode: multiply;
    right: 1.5vw;
    width: 38px;
    top: 80vh;
    height: auto;
    }
    
#git {
    position: absolute;
    top: 84vh;
    width: 40px;
    height: auto;
    right: 1.5vw;
    }




